html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:'';content:none}table{border-collapse:collapse;border-spacing:0}

        html {
            box-sizing: border-box;
        }
        *, *:before, *:after {
            box-sizing: inherit;
        }

        body {
            font-family: Arial, Helvetica, sans-serif;
            color: #4A6375;
            line-height: 22px;
        }

        .container {
            padding: 50px;
        }

        .logo {
            margin-bottom: 50px;
            display: inline-block;
        }

        .logo svg {
            display: block
        }

        // h1 {
        //     font-size: 42px;
        //     color: #0E2A47;
        //     font-weight: bold;
        //     margin-bottom: 40px;
        // }

        .mono {
            font-family: Consolas,Monaco,Lucida Console,Liberation Mono,DejaVu Sans Mono,Bitstream Vera Sans Mono,Courier New, monospace;
        }

        code {
            background-color: #1D262D;
            padding: 15px 20px;
            border-radius: 3px;
            color: #fff;
            display: block;
            font-family: Consolas,Monaco,Lucida Console,Liberation Mono,DejaVu Sans Mono,Bitstream Vera Sans Mono,Courier New, monospace;
            font-weight: normal;
            width: 100%;
            max-width: 700px;
            margin-left: -20px;
        }

        pre {
            white-space: break-spaces;
        }

        small {
            font-size: 14px;
            margin-left: -20px;
        }

        ol {
            list-style: decimal;
            padding-left: 20px;
        }

        .steps {
            text-align: left;
            margin-bottom: 40px;;
        }

        .steps ol li {
            margin-bottom: 20px;
        }

        .icons {
            color: #374957;
        }

        .icons {
            display: flex;
            flex-wrap: wrap;
            align-items: flex-start;
            margin: 0 -20px;
        }

        .icons li {
            padding: 0 20px;
            width: 50%;
        }

        .icon-holder {
            height: 62px;
            line-height: 62px;
            border-bottom: 1px solid #CFD9E0;
        }

        .icon-holder i {
            font-size: 32px;
            vertical-align: middle;
            margin-right: 20px;
        }

        @media (max-width: 768px) {
            .container {
                padding: 20px;
            }

            .icons li {
                padding: 0 20px;
                width: 100%;
            }
        }