@import "root";

//navigation
.navbar {
  width: 100%;
  .nav-head {
    background-color: var(--prim-color);
    height: var(--header-h);
    transition: width 0.25s;
    width: calc(var(--nav-width) - 5px);
    display: flex;
    flex-direction: row;
    position: fixed;
    top: 0;
    border-radius: 0 4px 4px 0;
    cursor: pointer;
    .nav-head-text {
      width: calc(100% - 55px);
      color: var(--text-color-w);
      font-weight: bolder;
      text-align: center;
      font-size: 20px;
      padding-top: 20px;
    }
    .nav-head-logo {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 5px;
      width: 79%;
      border-radius: 40px;
      // padding: 20px;
      color: var(--text-color-w);
    }
  }
  .nav-main {
    border-radius: 0 15px 0 0 ;
    overflow-y: scroll;
    overflow-x: hidden;
    padding-top: 10px;
    margin-top: calc(var(--header-h) - 3px);
    max-height: calc(100vh - 50px);
    display: flex;
    flex-direction: column;
    height: calc(100vh - 50px);
    width: 100%;
    background-color: var(--nav-color);
    padding-left: var(--ml-n);
    b {
      position: absolute;
      top: 0;
      height: 10px;
      background-color: aqua;
    }
    .nav-item {
      display: flex;
      position: relative;
      justify-content: flex-start;
      align-items: center;
      width: 100%;
      text-decoration: none;
      margin-bottom: 2px;
      cursor: pointer;
      color: #ffffff;
      b {
        position: absolute;
        top: 0;
        height: 10px;
        background-color: aqua;
      }
      .nav-icon {
        font-size: var(--icon-size);
      }
      .nav-name {
        padding-bottom: 2px;
      }
    }
    .nav-item:hover {
      font-weight: bolder;
      color: var(--text-color-w);
      background-color: #ffffff3a;
      border-radius: 20px 0 0 20px;
    }
    .nav-item--active {
      position: relative;
      font-weight: bold;
      color: var(--prim-color);
      background-color: #ffffff;
      border-radius: 20px 0 0 20px;
    }
    .nav-item--active:hover {
      position: relative;
      font-weight: bold;
      color: var(--prim-color);
      background-color: #ffffff;
      border-radius: 20px 0 0 20px;
    }
    .subnav-item {
      display: flex;
      justify-items: center;
      align-items: center;
      width: 100%;
      color: #ffffff;
      text-decoration: none;
      margin-bottom: 5px;
      margin-left: 10px;
      font-size: 14px;
      font-weight: normal;
      .nav-icon {
        font-size: 14px;
        margin: 10px;
      }
      .nav-name {
        padding-bottom: 2px;
      }
    }
    .subnav-item:hover {
      font-weight: bolder;
      color: var(--text-color-w);
      background-color: #ffffff3a;
      border-radius: 20px 0 0 20px;
    }
    .subnav-item--active {
      position: relative;
      font-weight: bold;
      color: var(--prim-color);
      background-color: #ffffff;
      border-radius: 20px 0 0 20px;
    }
    .subnav-item--active:hover {
      position: relative;
      font-weight: bold;
      color: var(--prim-color);
      background-color: #ffffff;
      border-radius: 20px 0 0 20px;
    }
  }
}
